:root {
    --inline-spread: 8px;
    --block-spread: 12px;
    --section-spread: 16px;
    --glyph-color: #343a40;
    --space-color: #f8f9fa;
}

blockquote,dl,dd,figure,h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

address,body,header,footer,main,nav,section {
    display: flex;
    align-items: center;
}

blockquote::before {
   content: open-quote;
}

body,header,footer,main,section {
    flex-direction: column;
    justify-content: space-around;
}
address,nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--inline-spread);
}

body {
    margin: env(safe-area-inset-top, unset) env(safe-area-inset-right, unset) env(safe-area-inset-bottom, unset) env(safe-area-inset-left, unset);
    font-family: cursive;
    color: var(--glyph-color);
    background-color: var(--space-color);
    min-height: 100vh;
    min-width: 100vw;
    text-align: center;
    gap: var(--section-spread);
}

header,footer,main,section {
    gap: var(--block-spread);
}

:any-link {
    color: currentColor;
    display: inline-block;
}

iframe {
    border: none;
}

mark {
    background-color: var(--glyph-color);
    color: var(--space-color);
}

:target {
    filter: drop-shadow(0 0 1px var(--glyph-color));
}