:root {
    --commutative-spread: 0.75rem;
    --associative-spread: 1rem;
    --distributive-spread: 3rem;
}

body {
    font-family: sans-serif;
}

:any-link, button {
    color: unset;
}

:any-link {
    display: inline-block;
}

fieldset, iframe, button {
    border: unset;
}

mark {
    text-decoration-style: wavy;
    text-decoration-line: underline;
    background-color: unset;
}

:target {
    filter: drop-shadow(0 0 1px currentColor);
}

button {
    text-decoration-line: underline;
    background-color: unset;
}

button,option {
    font-family: unset;
    font-size: 1em;
    text-align: unset;
}

iframe {
    /* background should be an animated loading screen */
    background-color: currentColor;
}