body {
    font-family: sans-serif;
    display: grid;
    min-height: 100vh;
    margin: 0;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

article {
    grid-area: article;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}