:root {
    --white-space-color: #f1f3f5;
    --glyph-color: #343a40;
}

body {
    color: var(--glyph-color);
    background-color: var(--white-space-color);
}

iframe {
    background-color: var(--white-space-color);
    border: none;
}

:any-link {
    color: var(--glyph-color);
}