blockquote ~ figcaption::before {
    content: "-- ";
}
dl {
    padding: 0 1em;
}
dt {
    display: list-item;
    list-style-position: inside;
}
dt::after {
    content: " -";
    font-weight: normal;
}
