body {
    background-color: darkslategray;
    color: whitesmoke;
    margin: 0;
    font-family: sans-serif;
}
q::before,q::after {
    content: none;
}

q {
    font-weight: bold;
}

button,:any-link {
    background-color: darkslateblue;
    color: unset;
    border-radius: 6px;
    border-width: 3px;
    border-color: slateblue;
    border-style: outset;
    padding: 1px 6px;
    font-size: 0.8em;
}

:any-link {
    text-decoration: unset;
}

:is(:any-link,button):active {
    border-style: inset;
}

button {
    font-family: unset;
}

button:disabled {
    opacity: 0;
}

:is(button,:any-link):active:not(:hover) {
    border-style: outset;
}