dl.slide-show {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: grid;
    text-align: center;
    grid-auto-columns: 25%;
    width: 100%;
    max-width: 20em;
    row-gap: 1em;
}

.slide-show>dt:nth-of-type(2n+1) {
    grid-row-start: 1;
    grid-column-end: span 4;
    font-size: 1.5em;
    scroll-snap-align: center;

}

.slide-show>dt:nth-of-type(2n) {
    grid-row-start: 2;
    grid-column-end: span 4;
}


.slide-show>dd,dl {
    margin: 0;
}

.slide-show>dd {
    grid-row-start: 3;
}
